tgcrypto
pyrogram==1.4.16
py-tgcalls==0.9.0b1

wget
motor
pillow
psutil
asyncio
aiohttp
aiofiles
requests
lyricsgenius
speedtest-cli

dnspython
gitpython
ffmpeg-python
python-dotenv

yt-dlp
youtube-search
youtube-search-python
